.header {
  display: flex;
  align-items: space-between;
  justify-content: space-between;
  align-items: start;
  width: 1052px;
  height: 105px;
  padding: 92px 39px;
  color: #000;
}

.header_menu_list {
  display: flex;
  list-style: none;
  }

.header_logo_image {   
  display: block; 
  width: 148px;
  height: 105px;
  flex-grow: 0;
}


}

.header_menu_link {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.header_menu_active .header_menu_link {
  text-decoration: none;
}




